@model DataObjectsLayer.Models.Author

@{
    ViewBag.Title = "Delete the author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</h3>
<div>   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-primary btn-lg"><input type="submit" value="Delete" class="btn btn-default" /></button>
            <button type="button" class="btn btn-primary btn-lg">@Html.ActionLink("Back to List", "Index")</button>
</div>
    }
</div>
